# Code owners file.
# This file controls who is tagged for review for any given pull request.

 # For anything not explicitly taken by someone else:
*  @anuraaga @arminru @bogdandrutu @carlosalberto @jack-berg @jkwatson @jsuereth @kubawach @Oberon00 @pavolloffay @thisthat @tylerbenson