# Gradle
build
.gradle
local.properties
out/

# Maven (proto)
target

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
bin

# NetBeans
/.nb-gradle
/.nb-gradle-properties

# VS Code
.vscode

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp
