name: Build tracecontext testsuite

on:
  push:
    paths:
      - 'integration-tests/tracecontext/docker/**'
      - '.github/workflows/build-tracecontext-testsuite.yaml'
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Login to GitHub package registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: integration-tests/tracecontext/docker
          push: true
          tags: ghcr.io/open-telemetry/java-test-containers:w3c-tracecontext-testsuite
