name: Build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        test-java-version:
          - 8
          - 11
          - 17
          - 21
          - 25 # renovate(java-version)
        # Collect coverage on latest LTS
        include:
          - os: ubuntu-latest
            test-java-version: 21
            coverage: true
            jmh-based-tests: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-java-test
        name: Set up Java ${{ matrix.test-java-version }} for tests
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          # use corretto for testing, since it supports java 8 on more OS versions, including macos-latest
          distribution: corretto
          java-version: ${{ matrix.test-java-version }}

      - id: setup-java
        name: Set up Java for build
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Build
        run: >
            ./gradlew build
            ${{ matrix.coverage && 'jacocoTestReport' || '' }}
            -PtestJavaVersion=${{ matrix.test-java-version }}
            "-Porg.gradle.java.installations.paths=${{ steps.setup-java-test.outputs.path }}"
            "-Porg.gradle.java.installations.auto-download=false"
        env:
          # JMH-based tests run only if this environment variable is set to true
          RUN_JMH_BASED_TESTS: ${{ matrix.jmh-based-tests }}
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

      - name: Check for diff
        # The jApiCmp diff compares current to latest, which isn't appropriate for release branches
        # this fails on windows because of the bash-specific if/then/else syntax, but that's ok
        # because we only need to run this validation once (on any platform)
        if: ${{ matrix.os != 'windows-latest' && !startsWith(github.ref_name, 'release/') && !startsWith(github.base_ref, 'release/') }}
        run: |
          # need to "git add" in case any generated files did not already exist
          git add docs/apidiffs
          if git diff --cached --quiet
          then 
            echo "No diff detected."
          else 
            echo "Diff detected - did you run './gradlew jApiCmp'?"
            echo $(git diff --cached --name-only)
            echo $(git diff --cached)
            exit 1
          fi

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        if: ${{ matrix.coverage }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ matrix.coverage }}
        with:
          name: coverage-report
          path: all/build/reports/jacoco/test/html

  markdown-link-check:
    # release branches are excluded to avoid unnecessary maintenance
    if: ${{ !startsWith(github.ref_name, 'release/') }}
    uses: ./.github/workflows/reusable-link-check.yml

  build-graal:
    name: Build GraalVM
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-graal-version:
          - 21
          - 25 # renovate(java-version)
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: graalvm/setup-graalvm@790e28947b79a9c09c3391c0f18bf8d0f102ed69 # v1.4.4
        with:
          java-version: ${{ matrix.test-graal-version }}
          distribution: 'graalvm'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Running test
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version
          ./gradlew nativeTest
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

  required-status-check:
    # markdown-link-check is not required so pull requests are not blocked if external links break
    needs:
      - build
      - build-graal
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: |
          needs.build.result != 'success' ||
          needs.build-graal.result != 'success'
        run: exit 1
