name: Gradle wrapper validation

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  gradle-wrapper-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4.3.0
