name: "PR Build"

on:
  pull_request:
    branches:
      - main
      - v*

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-20.04
        test-java-version:
          - 8
          - 11
          - 17
        include:
          - os: ubuntu-20.04
            test-java-version: 11
            coverage: true
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - id: setup-java-8
        name: Setup Java 8 for tests
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
          java-package: jre
      - id: setup-java-11
        name: Setup Java 11 for tests
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - id: setup-java-17
        name: Setup Java 17
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            build 
            --stacktrace 
            ${{ matrix.coverage && 'jacocoTestReport' || '' }}
            -PtestJavaVersion=${{ matrix.test-java-version }}
            -Porg.gradle.java.installations.paths=${{ steps.setup-java-8.outputs.path }},${{ steps.setup-java-11.outputs.path }},${{ steps.setup-java-16.outputs.path }},${{ steps.setup-java-17.outputs.path }}
      - uses: codecov/codecov-action@v2.1.0
        if: ${{ matrix.coverage }}
      - uses: actions/upload-artifact@v2
        if: ${{ matrix.coverage }}
        with:
          name: coverage-report
          path: all/build/reports/jacoco/test/html
